---
export interface Props {
	title: string;  
  location: string;
}

const { title, location } = Astro.props;
---


<section class="grid grid-cols-1 sm:grid-cols-5 print:grid-cols-5 mt-4">
  <div class="block col-span-1 text-primary-50 pl-1 bg-primary-800 sm:bg-primary-50 sm:text-primary-950 print:bg-primary-50 print:text-primary-950">
    <slot name="asside" />
  </div>
  <article class="flex col-span-4 flex-col">
    <h1 class="flex-1 bg-primary-800 text-primary-200 p-1 font-semibold text-xl">
      {title}
      <span class="float-right">
        {location}
      </span> 
    </h1>
    <div class="text-justify">
      <slot name="description" />
    </div>

    <div class="mx-12 mt-2">
      <slot name="list" class="list-disc" />
    </div>
    <br>
  </article>

</section>