---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import TitleBar from '../components/TitleBar.astro';
import ProductsList from '../resume-components/ProductsList.astro';
import AdvantageList from '../resume-components/AdvantageList.astro';
import ExperienceList from '../resume-components/ExperienceList.astro';
import CareerList from '../resume-components/CareerList.astro';
import Link from '../components/Link.astro';
import objectives from '../data/objectivelist.json';
---

<Layout title="Ken Ingle's Resume">
	<main>
    <TitleBar subtitle="" />

    <Container title="My Objectives">
      <ol class="list-decimal list-inside">
        {objectives.map((objective) => (
          <li>{objective}</li>
        ))}
      </ol>
    </Container>
		<div class="">

      <Container title="My Advantages" css="col-span-2" icon="icon-park:positive-dynamics">
        <AdvantageList />
      </Container>

		</div>

    <div class="break-after-page">
      <Container title="My Education" icon="zondicons:education">
          <Link href="https://www.bu.edu">Boston University</Link>
          ,
          <Link href="https://www.bu.edu/eng/">College of Engineering</Link>
          ,
          Boston, MA. Bachelor of Science in Computer Engineering.
  
          <ExperienceList />
  
      </Container>
    </div>

    <Container title="My Career" icon="mdi:worker">
      <CareerList />
    </Container>



	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: 130ch;
	}


</style>
